<section>
    <div class="containermt-5 pt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2 class="text-center">Create new Account</h2>
                <form action="/signup" method="post">
                    {{#if accountStatus}}
                    <p>{{message}}</p>
                    {{/if}}
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control " placeholder="Enter Name">
                    <label for="" class="pt-2">Email Address</label>
                    <input type="email" name="email" class="form-control " placeholder="Enter Email">
                    <label for="" class="pt-2">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                    <a href="/login">Alredy have Account?</a>
                    <button type="submit" class="btn center btn-primary float-right mt-2">Signup</button>
                </form>
            </div>
        </div>
    </div>
</section>