<section class="container mt-5 pt-5">
    <form id="place-order-form">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" value="{{user.name}}">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea type="text" name="address" class="form-control" rows="2" required></textarea>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                        <label>Pincode</label>
                        <input type="number" class="form-control" name="pincode" required>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label>Contact No</label>
                        <input type="number" name="contact-number" class="form-control" value="+91" required>
                    </div>
                    <input type="text" name="userId" value="{{user._id}}" hidden>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 mt-5">
                <div class="card  float-right" style="width: 25rem;">
                    <div class="card-body ">
                        <h3 class="card-title">Total: Rs. {{total}}</h3>
                        <div class="m-1">
                            <div class="form-check m-1">
                                <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
                                <label class="form-check-label" for="">
                                    COD
                                </label>
                            </div>
                            <div class="form-check m-1">
                                <input class="form-check-input" type="radio" name="payment-method" value="ONLINE">
                                <label class="form-check-label" for="">
                                    Online Payment
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right m-2">Place Order</button>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
    $("#place-order-form").submit((e) => {
        e.preventDefault(),
            $.ajax({
                url: '/place-order',
                method: 'post',
                data: $('#place-order-form').serialize(),
                success: (response) => {
                    if (response.codSuccess) {
                        location.href = '/order-success'
                    } else {
                        razorpayPayment(response)
                    }
                },
            })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_J6BkzOATx3LllD", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Midlajc",
            "description": "Test Transaction",
            "image": "https://midlajc.live/assets/images/midlajc.png",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Midlaj C",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-success'
                } else {

                }
            }
        })
    }
</script>